funasr==1.1.0
gradio==4.36.1
json5==0.9.25
langchain==0.2.5
langchain-openai==0.1.9
modelscope==1.16.0
numpy==1.26.4
openai==1.35.3
openai-whisper==20231117
python-dotenv==1.0.1
qwen-agent==0.0.5
setuptools-rust==1.9.0
torch==2.3.1
torchaudio==2.3.1
tqdm==4.66.4
